:root{

--primary:#173E73;
--primary-light:#7EA4E9;
--gold:#C9A227;

--bg:#F8FAFC;

--text:#1E293B;

--radius:18px;

--shadow:0 15px 40px rgba(0,0,0,.08);

}



*{

margin:0;
padding:0;
box-sizing:border-box;

}



html{

scroll-behavior:smooth;

}



body{

font-family:"Inter",sans-serif;
background:white;
color:var(--text);
line-height:1.7;

}



.container{

width:min(1400px,92%);
margin:auto;

}



.section{

padding:100px 0;

}



img{

max-width:100%;
display:block;

}



a{

text-decoration:none;

}



h1,h2,h3{

font-family:"Plus Jakarta Sans",sans-serif;

}